<h1>Puestos</h1>

<table class="tab_listados" id="tab_positions">
  <tr>
    <th>Departamento</th>
    <th>Cargo</th>
    <th>Funcionario</th>
    <!--
    <th></th>
    -->
    <th></th>
    <th></th>
    <td><%= link_to image_tag("page_new.gif"), new_position_path %></td>
  </tr>

<% @positions.each do |position| %>
  <tr>
    <td><%= position.department_id %></td>
    <td><%= position.job_title_id %></td>
    <td><%= position.worker_id %></td>
    <!--
    <td><%= link_to 'Show', position %></td>
    -->
    <td><%= link_to image_tag("page_edit.png"), edit_position_path(position) %></td>
    <td><%= link_to image_tag("page_delete.gif"), position, :confirm => '¿ Confirma este borrado ?', :method => :delete %></td>
  </tr>      
<% end %>
</table>
<%= will_paginate @positions %>