<h1>Listing position_dependants</h1>

<table>
  <tr>
    <th>Position</th>
    <th>Dependent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @position_dependants.each do |position_dependant| %>
  <tr>
    <td><%= position_dependant.position_id %></td>
    <td><%= position_dependant.dependent_id %></td>
    <td><%= link_to 'Show', position_dependant %></td>
    <td><%= link_to 'Edit', edit_position_dependant_path(position_dependant) %></td>
    <td><%= link_to 'Destroy', position_dependant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Position dependant', new_position_dependant_path %>
