<table>
  <tr>
    <th>Behaviors</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<tr>
<%= link_to 'New Behavior', new_behavior_path, :skill_id => @skill.id %>
</tr>

<br/>
<tr>probando</tr>
<br/>
<tr><%= @skill.id %></tr>
<br/>
<tr>probando</tr>

<% behaviors.each do |b| %>
  <tr>
    <td><%= b.level_id %></td>
    <td><%= b.required_behavior %></td>
    <td><%= link_to 'Show', b %></td>
    <td><%= link_to 'Edit', edit_behavior_path(b) %></td>
    <td><%= link_to 'Destroy', b, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
