<table>
  <tr>
    <th>Level</th>
    <th>Required behavior</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% behaviors.each do |b| %>
<tr>
    <td><%= b.level_id %></td>
    <td><%= b.required_behavior %></td>
    <td><%= link_to 'Show', b %></td>
    <td><%= link_to 'Edit', edit_behavior_path(b) %></td>
    <td><%= link_to 'Destroy', b, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
