<%= skill_form.fields_for :behaviors do |f| %>

  <div class="field">
    <%= f.label :level_id %><br />
    <%= f.select :level_id, @levels.collect {|c| [ c.name, c.id ] } %>
  </div>
  <div class="field">
    <%= f.label :required_behavior %><br />
    <%= f.text_area :required_behavior, :rows => 5 %>
  </div>
<% end %>
