<%= form_for(@behavior) do |f| %>
  <% if @behavior.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@behavior.errors.count, "error") %> prohibited this behavior from being saved:</h2>

      <ul>
      <% @behavior.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :skill_id %><br />
    <%#= f.text_field :skill_id, :value => '@skill.id' %>
    <%#= f.text_field :skill_id, :value => '1' %>
    <%= f.text_field :skill_id %>
  </div>

  <div class="field">
    <%= f.label :level_id %><br />
    <%= f.collection_select(:level_id, Level.find(:all), :id, :name, {:prompt => 'Seleccione un Nivel' }) %>
  </div>


  <div class="field">
    <%= f.label :required_behavior %><br />
    <%= f.text_area :required_behavior %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
