<h1>Listing behaviors</h1>

<table>
  <tr>
    <th>Skill</th>
    <th>Level</th>
    <th>Required behavior</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @behaviors.each do |behavior| %>
  <tr>
    <td><%= behavior.skill_id %></td>
    <td><%= behavior.level_id %></td>
    <td><%= behavior.required_behavior %></td>
    <td><%= link_to 'Show', behavior %></td>
    <td><%= link_to 'Edit', edit_behavior_path(behavior) %></td>
    <td><%= link_to 'Destroy', behavior, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @behaviors %>   

<br />

<%= link_to 'New Behavior', new_behavior_path %>
