<div class="contenedor_frm_mant" id="contenedor_frm_mant_divisions">
<%= form_for(@division) do |f| %>
  <% if @division.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@division.errors.count, "error") %> prohibited this division from being saved:</h2>

      <ul>
      <% @division.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grupo_fields">
    <div class="field">
      <span class="label_frm"><%= f.label :name %></span> <span class="text_field_input"><%= f.text_field :name %></span>
    </div>
    <div class="field">
      <span class="label_frm"><%= f.label :description %></span> <span class="text_field_input"><%= f.text_field :description %></span>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %> <%= link_to 'Cancelar', divisions_path %>
  </div>
<% end %>
</div>