<h1>Divisiones</h1>

<table class="tab_listados" id="tab_divisions">
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th></th>
    <th></th>
    <!--
    <th></th>
    -->
    <td><%= link_to image_tag("page_new.gif"), new_division_path %></td>
  </tr>

<% @divisions.each do |division| %>
  <tr>
    <td><%= division.name %></td>
    <td><%= division.description %></td>
    <!--
    <td><%= link_to 'Show', division %></td>
    -->
    <td><%= link_to image_tag("page_edit.png"), edit_division_path(division) %></td>
    <td><%= link_to image_tag("page_delete.gif"), division, :confirm => '¿ Confirma este borrado ?', :method => :delete %></td>
  </tr>
<% end %>     
</table>
<%= will_paginate @divisions %>