<%= form_for(@skill) do |skill_form| %>


  <% if @skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
      <% @skill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= skill_form.label :name %><br />
    <%= skill_form.text_area :name %>
  </div>
  <div class="field">
    <%= skill_form.label :description %><br />
    <%= skill_form.text_area :description %>
  </div>
  <div class="field">
    <%= skill_form.label :skill_type_id %><br />
    <%= skill_form.select :skill_type_id, @skill_types.collect {|c| [ c.name, c.id ] } %>
  </div>
  
  <br/>
  
  <h2>Behaviors</h2>


  <%= render :partial => 'behaviors/behaviors_list',:locals => { :behaviors => @skill.behaviors, :form => skill_form } %>

  <%= link_to_add_fields "Agregar Nivel", skill_form, :behaviors %>

  <div id="new_behaviors"></div>


  <div class="actions">
    <%= skill_form.submit %>
  </div>
<% end %>
