<h1>Competencias</h1>

<table class="tab_listados" id="tab_skills">
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Tipo</th>
    <!--
    <th></th>
    -->
    <th></th>
    <th></th>
    <td><%= link_to image_tag("page_new.gif"), new_skill_path %></td>
  </tr>

<% @skills.each do |skill| %>
  <tr>
    <td><%= skill.name %></td>
    <td><%= skill.description %></td>
    <td><%= skill.skill_type.name if skill.skill_type %></td>
    <!--
    <td><%= link_to 'Show', skill %></td>
    -->
    <td><%= link_to image_tag("page_edit.png"), edit_skill_path(skill) %></td>
    <td><%= link_to image_tag("page_delete.gif"), skill, :confirm => '¿ Confirma este borrado ?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @skills %>
