<div class="contenedor_frm_mant" id="contenedor_frm_mant_departments">
<%= form_for(@department) do |f| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @department.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grupo_fields">
    <div class="field">
      <span class="label_frm"><%= f.label :name %></span> <span class="text_field_input"><%= f.text_field :name %></span>
    </div>
    <div class="field">
      <span class="label_frm"><%= f.label :description %></span> <span class="text_field_input"><%= f.text_field :description %></span>
    </div>
    <div class="field">
      <span class="label_frm"><%= f.label :division_id %></span> <span class="text_field_input"><%= f.collection_select(:division_id, Division.find(:all), :id, :name, {:prompt => 'Selecciona una División' }) %></span>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %> <%= link_to 'Cancelar', departments_path %>
  </div>
<% end %>
</div>