<h1>Listing departments</h1>

<table class="tab_listados" id="tab_departments">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Division</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @departments.each do |department| %>
  <tr>
    <td><%= department.name %></td>
    <td><%= department.description %></td>
    <td><%= department.division_id %></td>
    <td><%= link_to 'Show', department %></td>
    <td><%= link_to 'Edit', edit_department_path(department) %></td>
    <td><%= link_to 'Destroy', department, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @departments %>   

<br />

<%= link_to 'New Department', new_department_path %>
