<div class="contenedor_frm_mant" id="contenedor_frm_mant_skill_types">
<%= form_for(@skill_type) do |f| %>
  <% if @skill_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill_type.errors.count, "error") %> prohibited this skill_type from being saved:</h2>

      <ul>
      <% @skill_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grupo_fields">
    <div class="field">
      <span class="label_frm"><%= f.label :name %></span> <span class="text_field_input"><%= f.text_field :name %></span>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %> <%= link_to 'Cancelar', skill_types_path %>
  </div>      
<% end %>
</div>