<h1>Listing skill_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @skill_types.each do |skill_type| %>
  <tr>
    <td><%= skill_type.name %></td>
    <td><%= link_to 'Show', skill_type %></td>
    <td><%= link_to 'Edit', edit_skill_type_path(skill_type) %></td>
    <td><%= link_to 'Destroy', skill_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Skill type', new_skill_type_path %>
<%= link_to 'Back to Menu', root_path %>
