<h1>Tipos de Competencias</h1>

<table class="tab_listados" id="tab_skill_types">
  <tr>
    <th>Nombre</th>
    <!--
    <th></th>
    -->
    <th></th>
    <th></th>
    <td><%= link_to image_tag("page_new.gif"), new_skill_type_path %></td>
  </tr>

<% @skill_types.each do |skill_type| %>
  <tr>
    <td class="col_bd"><%= skill_type.name %></td>
    <!--
    <td><%= link_to 'Show', skill_type %></td>
    -->
    <td><%= link_to image_tag("page_edit.png"), edit_skill_type_path(skill_type) %></td>
    <td><%= link_to image_tag("page_delete.gif"), skill_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>