<h1>Cargos</h1>

<table class="tab_listados" id="tab_job_titles">
  <tr>
    <th>Nombre</th>
    <!--
    <th></th>
    -->
    <th></th>
    <th></th>
    <td><%= link_to image_tag("page_new.gif"), new_job_title_path %></td>
  </tr>

<% @job_titles.each do |job_title| %>
  <tr>
    <td><%= job_title.name %></td>
    <!--
    <td><%= link_to 'Show', job_title %></td>
    -->
    <td><%= link_to image_tag("page_edit.png"), edit_job_title_path(job_title) %></td>
    <td><%= link_to image_tag("page_delete.gif"), job_title, :confirm => '¿ Confirma este borrado ?', :method => :delete %></td>
  </tr>    
<% end %>
</table>
<%= will_paginate @job_titles %>


