<div class="contenedor_frm_mant" id="contenedor_frm_mant_levels">
<%= form_for(@level) do |f| %>
  <% if @level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@level.errors.count, "error") %> prohibited this level from being saved:</h2>

      <ul>
      <% @level.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %> <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %> <%= link_to 'Cancelar', levels_path %>
  </div>
<% end %>
</div>