<h1>Listing levels</h1>

<table class="tab_listados" id="tab_levels">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @levels.each do |level| %>
  <tr>
    <td class="col_bd"><%= level.name %></td>
    <td><%= link_to image_tag "pepe.jpg", {:action => :level } %></td>
    <td><%= link_to 'Edit', edit_level_path(level) %></td>
    <td><%= link_to 'Destroy', level, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Level', new_level_path %>
<%= link_to 'Back to Menu', root_path %>
