<div class="contenedor_frm_mant" id="contenedor_frm_mant_workers">
<%= form_for(@worker) do |f| %>
  <% if @worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worker.errors.count, "error") %> prohibited this worker from being saved:</h2>

      <ul>
      <% @worker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grupo_fields">
    <div class="field">
      <span class="label_frm"><%= f.label :name %></span> <span class="text_field_input"><%= f.text_field :name %></span>
    </div>
    <div class="field">
      <span class="label_frm"><%= f.label :last_name %></span> <span class="text_field_input"><%= f.text_field :last_name %></span>
    </div>
    <div class="field">
      <span class="label_frm"><%= f.label :document %></span> <span class="text_field_input"><%= f.text_field :document %></span>
    </div>
    <div class="field">
      <span class="label_frm"><%= f.label :number_of_positions %></span> <span class="text_field_input"><%= f.text_field :number_of_positions %></span>
    </div>
    <div class="actions">
      <%= f.submit %> <%= link_to 'Cancelar', workers_path %>
    </div>
  </div>
<% end %>
</div>
