<h1>Funcionarios</h1>
<% form_tag '', :method => :get do %>
  <%= text_field_tag :filter_value %>
  <%= submit_tag 'Refresh' %>
<% end %>
<table class="tab_listados" class="tab_workers">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>C.I.</th>
     <th>Num.Posiciones</th>
    <!--
    <th></th>
    -->
    <th></th>
    <th></th>
    <td><%= link_to image_tag("page_new.gif"), new_worker_path %></td>
  </tr>

<% @workers.each do |worker| %>
  <tr>
    <td><%= worker.name %></td>
    <td><%= worker.last_name %></td>
    <td><%= worker.document %></td>
    <td><%= worker.number_of_positions %></td>
    <!--
    <td><%= link_to 'Show', worker %></td>
    -->
    <td><%= link_to image_tag("page_edit.png"), edit_worker_path(worker) %></td>
    <td><%= link_to image_tag("page_delete.gif"), worker, :confirm => 'Confirma este borrado ?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @workers %>
